<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPM BERANANG</title>
    <style>
        table,tr,td {border: 1pt solid;}
    </style>
</head>
<body>
    <h1>UPDATE COURSE</h1>

    <form action ="update_data/{{data.code}}" method="post">
        {% csrf_token %}
            Course Code: <input name ="code" type="text" value="{{data.code}}" disable="False">
            <br><br>
            Description: <input name="desc" type="text" value="{{data.desc}}">
            <br><br>
            <input type= "submit" value="UPDATE">
    </form>
    <br><br>
    <a href = "{% url 'course' %}">Back</a>
</body>
</html>